:root {
    /* Main theme colors */
    --mainPrimary: #c0c0c0;
    --mainSecondary: #808080;
    --mainText: #242424;
    --mainHighlight: #000080;

    /* Colors used for box shading */
    --shadeLight: #ffffff;
    --shadeDark: #585858;
}