:root {
    /* Main theme colors */
    --mainLight: #000000;
    --mainDark: #000000;
    --mainWhite: #ffffff;
    /* --mainHighlight: #ff0000; */

    /* Colors used for box shading */
    --shadeLight: rgb(100, 100, 100);
    --shadeDark: rgb(100, 100, 100);

    /* Other / Experimental */
    --mainHighlight-rgb: 213, 189, 50;
}