:root {
    /* Main theme colors */
    --mainPrimary: #000000;
    --mainSecondary: #000000;
    --mainText: #ffffff;
    /* --mainHighlight: #ff0000; */

    /* Colors used for box shading */
    --shadeLight: rgb(100, 100, 100);
    --shadeDark: rgb(100, 100, 100);
}