:root {
    /* Main theme colors */
    --mainPrimary: rgba(0, 0, 0, 0.1);
    --mainSecondary: rgba(0, 0, 0, 0.1);
    --mainText: #ffffff;
    /* --mainHighlight: #ff0000; */

    /* Colors used for box shading */
    --shadeLight: rgba(100, 100, 100, 0.1);
    --shadeDark: rgba(100, 100, 100, 0.1);
}

/* Fix for popups */
.cider-dialog-window, .am-audio-settings{
    background-color: black;
}