/* goldCDR */

/* For Screenshots */
/* .profile-artwork {
    display: none;
} */

/* ------------------------------------------------------------------------------ */
/* Variables for easy edit */
/* ------------------------------------------------------------------------------ */

:root {
    /* Main theme colors */
    --mainLight: #4C5844!important;
    --mainDark: #3F4738;
    --mainWhite: #EFF6EE;
    --mainHighlight: #D5BD32;

    /* Colors used for box shading */
    --shadeLight: #7E8975;
    --shadeDark: #2C3725;

    /* Other / Experimental */
    --mainHighlight-rgb: 213, 189, 50;
}


/* ------------------------------------------------------------------------------ */
/* GETTING RID OF THE MODERN STYLE */
/* ------------------------------------------------------------------------------ */

/* Disabling the blur and roundness on most elements, and making it look plain*/
:root, body, .settings-sidebar-search, .content-area, .modal-titlebar, .settings-title-bar,
 .cider-dialog-window, .settings-window, .cider-dialog-window--generic, .q-page-container,
 .new-shell-page-container, .q-btn, .sidebar_nav-btn, .sidebar-playlist, .more-btn, body[density="desktop"] .sidebar_nav-btn,
 .mediaitem-card, .settings-sidebar-item, .c-select, .search-box_container, .cSearch, .compact-box,
 .category-brick, .category-brick-artwork, .artwork, .sidebar-artwork, .powerswoosh, .shelf-navigation,
 .q-item, .q-list, .profile-tab, .profile-btn, .profile-artwork, .c-listitem-short, .content-title, .mood-item, .mood-artwork,
  .album-artwork, .q-input.c-select, .q-field__control, .q-select.c-select, .c-input--element, .ri-list-item, .library-song-item,
  .top-conatiner, .mediaitem-topresult, .mediaitem-topresult::after, .artworkContainer, .artworkLockup, .am-expansion-item,
  .album-header, .ios-style, .progress-container, .am-progress, .am-playback-actions, .shelf-artwork, .ri-shelf-item, .lockupControls,
  .menu, .play, .menu-btn, .add  {
    --glassFilter: none;
    backdrop-filter: none;
    --windowRadius: 0px;
    --genericBorderRadius: 0px;
    box-shadow: none !important;
    border-radius: 0px !important;
    border: 0px;
    --radius: 0px;
    cursor: default;
    /* background-color: rgba(0,0,0,0); */
}
/* Hiding Elements */
.selection-indicator{
    display: none;
}

/* ------------------------------------------------------------------------------ */
/* General Themeing */
/* ------------------------------------------------------------------------------ */

/* Accent Color */
body {
  --keyColor: var(--mainHighlight);
  --musicKeyColor: var(--mainHighlight);
  --accent-color: var(--mainHighlight);
  --keyColor-rgb: var(--mainHighlight-rgb);
}
body.body--dark, body.body--light {
  --q-primary: var(--mainHighlight, --mainHighlight);
}

/* Make most of the parts by default the mainLight color */
:root{
    --q-dark: var(--mainLight);
}

/* Main background */
html[no-glass] {
    background-color: var(--mainLight);
}
.ns-qlayout::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;

    /* background-color: var(--mainDark); */
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
/* Pop Ups */
.settings-window, .cider-dialog-window, .cider-dialog-window--generic{
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}

/* ------------------------------------------------------------------------------ */
/* Main Page / View */
/* ------------------------------------------------------------------------------ */
.c-listitem-short{
    background-color: var(--mainDark);
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
/* Profile Button at the left bottom */
.sidebar-group{
    background-color: var(--mainDark);
    padding:10px;
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
.am-expansion-item{
    background-color: var(--mainLight);
    padding: 10px;
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}
.profile-info{
    padding: 10px;
    color: var(--mainHighlight);
}
/* PLAYBACK */
.lcdControls{
    background-color: var(--mainDark);
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
.playback-action-button{
    margin:0px 5px;
    padding: 5px;
}
.am-playback-actions{
    margin:0;
    align-items: flex-start;
    display: flex;
    padding-bottom: 5px;
}
/* ------------------------------------------------------------------------------ */
/* Views */
/* ------------------------------------------------------------------------------ */

/* Album / Playlist VIEW */
.tracks-list{
    padding: 10px;
    gap: 10px;
    background-color: var(--mainDark);
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
.ri-list-item{
    margin: 5px;
    background-color: var(--mainLight);
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
    color: var(--mainHighlight)
}
.album-artwork::after{
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
.album-details{
    background-color: var(--mainLight);
    padding: 10px;
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}
.album-header{
    --bgColor: var(--mainLight);
    --textColor1: var(--mainHighlight);
}
.shelf-artwork::after{
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
/* THERE 2x album-actions because
    there are album-actions inside album-actions
    instead of just album-actions-right -> album-actions-misc (or something)
*/
.album-actions[data-v-ccafc47d]{
    background-color: var(--mainDark);
    padding: 10px;
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
.album-actions[data-v-e77db66d]{ /* This is the inside one */
    padding:0px;
    box-shadow: none;
}
.album-actions-left{
    display: flex;
}
.tracks-header{
    background-color: var(--mainLight);
    padding: 10px;
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}
/* Buttons (play, shuffle, etc.) */
.album-header-colorized[data-v-1f0eadf7] .q-btn, .album-header-colorized[data-v-ccafc47d] .q-btn{ /* EDITORIAL LAYOUT, NORMAL */
    --outlineColor: none;
    --backgroundGradient: none;
    --textColor1: var(--mainWhite);
}
/* SEARCH RESULTS VIEW */
.q-mb-lg{
    padding: 10px;
    background-color: var(--mainDark);
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
.mediaitem-topresult{
    background-color: var(--mainLight);
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}
/* ARTIST VIEW */
.c-listitem-short{
    margin: 5px 0px;
}
.item-set[data-v-a9b9c6f9]{
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
}
/* SETTINGS VIEW */
.settings-sidebar-search, .settings-sidebar-items {
    background-color: transparent;
}
.settings-page-bounds{
    margin: 39px 10px 10px 10px;
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
    background-color: var(--mainDark);
}
/* ------------------------------------------------------------------------------ */
/* Library */
/* ------------------------------------------------------------------------------ */
/* ARTISTS TAB */
.artist-drawer-content{
    gap: 10px;
    display: flow;
}
/* SONGS TAB */
.library-songs-view{
    background-color: var(--mainDark);
    padding: 10px;
    gap: 10px;
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
.library-song-item {
    margin:5px;
    background-color: var(--mainLight);
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}
.library-song-item:hover {
    background-color: var(--mainDark);
}
.library-song-item:active {
    background-color: var(--mainDark);
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
/* ALBUM LIBRARY */
.ri-shelf-item{
    background-color: var(--mainLight);
    margin: 10px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}
/* ------------------------------------------------------------------------------ */
/* INTERACTABLES */
/* ------------------------------------------------------------------------------ */

/* Buttons */
.q-btn, .sidebar_nav-btn, .more-btn, body[density="desktop"] .sidebar_nav-btn,
    .settings-sidebar-item, .profile-btn, .c-listitem-short, .playback-action-button,
    .play, .ion-ios-close, .menu-btn{
    background-color: var(--mainLight);
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}
.q-btn:hover, .sidebar_nav-btn:hover, .more-btn:hover, body[density="desktop"] .sidebar_nav-btn:hover,
    .settings-sidebar-item:hover, .profile-btn:hover, .c-listitem-short:hover, .playback-action-button:hover,
    .play:hover, .ion-ios-close:hover, .menu-btn:hover{
    background-color: var(--mainDark);
    cursor: default;
}
.q-btn:active, .sidebar_nav-btn:active, .more-btn:active, body[density="desktop"] .sidebar_nav-btn:active,
    .settings-sidebar-item:active, .profile-btn:active, .c-listitem-short:active, .playback-action-button:active,
    .play:active, .ion-ios-close:active, .menu-btn:active{
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}

/* Buttons with images */
.category-brick {
    cursor: default;
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}

/* Selectboxes and TextBoxes*/
.c-select, .cSearch, .c-input-container, .q-field__control{
    background-color: var(--mainDark);
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
        -2px -2px 0px var(--shadeLight) inset;
}
/* SearchBox at the top */
#_top-search{
    box-shadow: 3px 3px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
    cursor: text;
}
.header-search-results{
    padding: 10px;
    background-color: var(--mainLight);
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}
.header-search-item{
    background-color: var(--mainLight);
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}

/* Selections */
.q-item {
    margin: 10px 0px;
    background-color: var(--mainLight);
    cursor: default;
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
}
/* .q-list {
    padding: 10px;
    background-color: var(--mainLight);
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
} */
/* Checkboxes */
input[type=checkbox][switch] {
    border-radius: 0px;
    cursor: default;
    box-shadow: 2px 2px 0px var(--shadeDark) inset,
    -2px -2px 0px var(--shadeLight) inset;
}
input[type=checkbox][switch]:before{
    border-radius: 0px;
}

.mediaitem-shelf-content{
    padding-right: 20px;
}
.item-set{ /* The big boxes with icons in HOME and NEWS i.e. Top Picks for You*/
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
    background-color: var(--mainLight);
    padding:10px;
}



/* ???*/
/* .mood-item{
    background-color: var(--mainLight);
    box-shadow: 2px 2px 0px var(--shadeLight) inset,
    -2px -2px 0px var(--shadeDark) inset;
} */