/* ------------------------------------------------------------------------------
/* X. Introduction
/* ------------------------------------------------------------------------------
New rewritten more capable version of the style
Also better documented, possibly more efficient

In order to search for something try hitting CTRL+F
and search for:
    X. - Main Category
    Y. - Sub Category
    Z. - Sub Sub Category
*/

/* New Screenshots mode */
/* Replaces username with raharu-dev */
/* .profile-info {
  position: relative;
  font-size: 0;
  line-height: 0;
}
.profile-info::after {
  content: "raharu-dev";
  font-size: 14px;
  line-height: normal;
} */

/* Important things to fix:
- Overwriting the cursor made the cursor reising univisible
- Overwriting *::before, *:hover has hide the controls at the top
*/

/* ------------------------------------------------------------------------------ */
/* X. Variables
/* ------------------------------------------------------------------------------ */
:root {
    /* Main theme colors */
    --mainPrimary: #4C5844;
    --mainSecondary: #3F4738;
    --mainText: #EFF6EE;
    --mainHighlight: #D5BD32;

    /* Colors used for box shading */
    --shadeLight: #7E8975;
    --shadeDark: #2C3725;

    /* Bevel Effect*/
    /* Borders method */
    --borderInset: var(--shadeDark) var(--shadeLight) var(--shadeLight) var(--shadeDark);
    --borderOutset: var(--shadeLight) var(--shadeDark) var(--shadeDark) var(--shadeLight);

    /* Shadows method (Don't use unless necessary)*/
    --shadowOuter:
        2px 2px 0px var(--shadeLight) inset,
        -2px -2px 0px var(--shadeDark) inset;
    --shadowInner:
        2px 2px 0px var(--shadeDark) inset,
        -2px -2px 0px var(--shadeLight) inset;
}
/* ------------------------------------------------------------------------------ */
/* X. General Styling, things that you see all the time. And things that might work or not.
/* ------------------------------------------------------------------------------ */
/* Disabling all of the default styling */
*,*::before, *:hover{
    /* Disabling rounded corners */
    border-radius: 0;
    /* cursor: default; <- Breaks window resizing*/
    /* All of the default background that makes the theme darker or lighter for no reason */
    background: none;
    /* Default shadows on many items */
    box-shadow: none;
    /* Blurred backgrounds on certain elements */
    backdrop-filter: none;
}
:root{
    /* Disabling all rounding variables */
    --mediaItemRadiusXSmall: 0;
    --mediaItemRadiusSmall: 0;
    --mediaItemRadiusMedium: 0;
    --mediaItemRadiusLarge: 0;
    --mediaItemRadiusRound: 0;
    --appBorderRadius: 0;
    --borderRadiusNone: 0;
    --borderRadiusSmall: 0;
    --borderRadiusMedium: 0;
    --borderRadiusLarge: 0;
    --borderRadiusXLarge: 0;
    --genericBorderRadius: 0px;

    /* Setting color accents */
    --eq-bars-bg-color: var(--mainHighlight);
    --keyColor: var(--mainHighlight);
    --musicKeyColor: var(--mainHighlight);
    --accent-color: var(--mainHighlight);
    --keyColor-rgb: var(--mainHighlight-rgb);
}
/* Changing the background of the app window */
.root-layout-container{
    background-color: var(--mainPrimary);
}
/* .absolute-full{ */
.new-shell-page-container{
    border: 2px solid var(--shadeDark);
    border-right-color: var(--shadeLight);
    border-bottom-color: var(--shadeLight);
}
.q-page{
    background-color: var(--mainSecondary);
}
/* -------------------------------------------------------- */
/* Y. Elements with OUTSET shadow styling
/* -------------------------------------------------------- */

/* ------------------------- */
/* Z. SIDEBAR
/* ------------------------- */
.profile-btn, /* Profile Button on left side of the screen */
.sidebar_nav-btn, /* Smaller buttons on the sidebar, works only with "UI Size Profile: Default"*/
body[density="desktop"] .sidebar_nav-btn, /* Same as sizebar_nav-btn however works only "UI Size Profile: Desktop", border-radius is overwritten*/
.am-expansion-item, /* The expanding buttons with things like "Apple Music", "Library", "Playlists", etc. */
.profile-mainmenu, /* The button that opens settings on the sidebar */
.lyric-text, /* Box containing Lyrics text, both for sidebar and fullscreen */
/* ------------------------- */
/* Z. MIXED / OTHER - Things that are too less to make whole another categories for here */
/* ------------------------- */
.playback-action-button,
.mediaitem-topresult, /* Top results on search */
.item-set[data-v-1b6d3540],
.powerswoosh,
.player, /* Player on PLAYBACK that contains album name, song and artwork */ /*.lcdplayer-info, /*.amp-lcd-container,*/
.header-content,
input[data-v-02f8a987]::-webkit-slider-thumb,
input[data-v-5887f795]::-webkit-slider-thumb,
.playlist-suggestion-card,
.tracks-header,
.album-details,
.settings-sidebar-item, /* Categories in SETTINGS window */
.settings-window, /* Main SETTINGS window with all the things inside of it. */
.q-btn, /* Standard Buttons, many of the small ones at HOME, few on SETTINGS, few on views like Library->Albums ("Show in Apple Music") */
.q-item, /* Items in SETTINGS themes most likely it overlaps with something */
.ri-list-item, /* Songs on Album, Playlist, Library->Albums, Library->Artists */
.am-audio-settings, /* The window where you can set equalizer etc. */
.disc-header, /* The bar that appears when song have more than one disc */
button[data-v-031fce46], /* Buttons that appears when hovering over an artwork */
.c-listitem-short, /* Songs that appear on New tab, Search results, Top Songs of an Artist */
.mediaitem-card[data-v-b245fbd5], /* The cards containing playlists from All Playlists*/
.library-song-item, /* Songs in Library/Songs */
.header-frow[data-v-dfe38bf7], /* Library/Songs - Header with sorting elements */
.library-toolbar, /* Header with section name and tools in library sections on top */
.ri-shelf-item, /* */
.shadowOuterCLASS{
    background-color: var(--mainPrimary);
    border-radius: 0px;
    border: 2px solid;
    border-color: var(--borderOutset);
    cursor: default;
}
/* -------------------------------------------------------- */
/* Y. Elements with INSET shadow styling
/* -------------------------------------------------------- */
/* ------------------------- */
/* Z. MIXED / OTHER - Things that are too less to make whole another categories for here */
/* ------------------------- */
.profile-tab,
.c-select--element, /* Dropdown menus such as the one on album view where you can select album order, or the ones in settings page */
input[data-v-02f8a987],
input[data-v-5887f795],
.q-item[data-v-388ad613], /* Songs at the suggested section in Playlist View */
.album-actions,
.q-field__control, /* Text input box like the one iin Settings general view */
.ns-sidebar--right, /* Bar at the right side that contains lyrics and queue*/
/* .search-box_container, */
.search-box, /* As the name suggests it is search-box at the top of the window */
.search-container,
.sidebar-scroll-content, 
.settings-page-bounds, 
.powerswoosh-chin, /*The container for text on Top Picks for You texts (powerswooshes)*/
.info-section, /* Similar to powerswoosh-chin but for things like recently played*/
.shadowInnerCLASS{
    background-color: var(--mainSecondary);
    border-radius: 0px;
    border: 2px solid;
    border-color: var(--borderInset);
    cursor: default;
}
.shelf-navigation:hover::before, /* Outlines that show up when hovering over arrows on HOME, NEW, RADIO*/
/* ------------------------- */
/* Z. Artwork
/* ------------------------- */
/* .artwork, Okay it actually do some stuff, some breaks and for some does nothing. */
.profile-artwork, /* User profile icon */
.social-overlay-content[data-v-268844cf], /* Artists featured album */
.artwork[data-v-3d901d75], /* Top Songs of an artists */
/* .artworkContainer, /* Container for most of the Covers (like on HOME, PLAYLISTS) */
/* .album-artwork, Container for Covers inside of ALBUMS/PLAYLISTS */
/* .player-artwork, /* Container for artwork inside of PLAYER at bottom*/
.track-artwork, /* Container for artwork inside of PLAYLISTS/ALBUMS tracks */
.artwork[data-v-0888a670], /* Artwork on POWERSWOOSH on HOME and other ALBUMS/PLAYLISTS on HOME view, PLAYER-ARTWORK also */
.onlyshadowInnerCLASS{
    border: 2px solid;
    border-color: var(--borderInset);
    cursor: default;
}
.artworkLockup{
    cursor: default;
}
/* ------------------------------------------------------------------------------ */
/* X. PAGES
/* ------------------------------------------------------------------------------ */
/* -------------------------------------------------------- */
/* Y. MAIN / MIXED - For items that might appear in multiple places
/* -------------------------------------------------------- */
.window-control.isWin32[data-v-663b9be4]:before { /* Window Controls (Minimize, Maximize, Close) WINDOWS */
    background-color: var(--mainHighlight);
}
/* .search-box_container{ /* Search box at the top of the window */
    /* box-shadow: none;
    background-color: var(--mainSecondary);
} */
.search-box{
    cursor: text;
}
.q-item{
    margin: 5px;
}
.powerswoosh, /* The big albums/playlists on Top Picks For You screen on HOME */
.item-set[data-v-1b6d3540]{ /* Albums and Songs on Home Page and some on search STILL BREAKS PLAYLISTS ON SEARCH!!! */
    padding: 5px;
}
.powerswoosh-chin,
.info-section{
    margin-top: 5px;
    padding: 2px;
}
.new-shell{ /* The main window itself */
    background-color: var(--mainPrimary);
    border-radius: 0px;
    border: 3px solid;
    border-color: var(--borderOutset);
}
.c-listitem-short{
    margin-top: 2px;
    margin-bottom: 2px;
}
.mediaitem-shelf-content{ /* Container of c-listitem-short items */
    gap:4px;
}
/* -------------------------------------------------------- */
/* Y. Playback
/* -------------------------------------------------------- */
input[data-v-02f8a987], /* Playback bar */ 
input[data-v-5887f795]{ /* Volume Bar */
    background-color: var(--mainSecondary);
    --progressColor: var(--mainHighlight);
    border-radius: 0;
    height: 10px;

}
input[data-v-02f8a987]::-webkit-slider-thumb, /* Playback Dot */
input[data-v-5887f795]::-webkit-slider-thumb{ /* Volume Bar Dot */
    border-radius: 0;
    background-color: var(--mainPrimary);

}
.div[data-v-1d87d213]{
    background-color: var(--mainText);
}
._svg-icon{
    background-color: var(--mainHighlight);
}
svg, .q-icon{ /* Making Icons match the themes */
    color:var(--mainHighlight);
}
.playback-action-button{ /* Cointener for most buttons in playback i.e. play shuffle etc. */
    background-color: var(--mainPrimary);
    margin:2px;
    opacity: 1;
}
.action-play[title="Pause"],/* When playing the [||] buton to pause */
.action-active{ /* Loop and shuffle buttons while active */
    background-color: var(--mainSecondary);
    border-color: var(--borderInset);
}
.playback-controls[data-v-5533b083]>*{ /* The whole playback bar */
    opacity: 1;
}
input[type="range"]{ /* Playback bar and volume */
    background: linear-gradient(90deg, var(--mainHighlight) var(--progress), var(--mainSecondary) var(--progress), var(--mainSecondary));
}
.time-code[data-v-5533b083]{
    opacity: 1;
    background-color: var(--mainSecondary);
    color: var(--mainHighlight);
    border: 2px solid;
    border-color: var(--borderInset);
    margin: 5px;
}
/* -------------------------------------------------------- */
/* Y. SIDEBAR
/* -------------------------------------------------------- */
.sidebar-scroll-content{ /* The box on sidebar with all of the things in it */
    background-color: var(--mainSecondary);
    margin:10px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile-tab{ /* Tab with Username*/
    /* border: none; */
    margin:0px 10px 0px 10px;
}
.expansion-items{
    align-items:center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
.playlist-folder-body[data-v-1a66073e]{
    padding: 0;
    width: 90%;
}
.profile-btn{
    margin-right: 7px;
}
.profile-mainmenu{
    padding: 0px;
    background-color: var(--mainPrimary);
    height: 100%;
}
/* Right Sidebar*/
.ns-sidebar--right{ /* Right Sidebar*/
    background-color: var(--mainSecondary);
    margin: 10px;
}
.lyric-text{
    padding:5px;
}
/* -------------------------------------------------------- */
/* Y. SETTINGS
/* -------------------------------------------------------- */
.cider-dialog-container{ /* Fullsize container that contains Settings menu */
    background-color: var(--mainSecondary);
    border-radius: 0px;
    border: 2px solid;
    border-color: var(--borderInset);
    margin: 10px
}
.settings-page-bounds{ /* The box containing the settings on the right side */
    margin: 39px 10px 10px 10px;
    padding:0;
}
.settings-sidebar-item{
    cursor: default;
}
.settings-sidebar-item.selected{
    background-color: var(--mainSecondary);
    transform: none;
    border-color: var(--borderInset);
}
.settings-sidebar-item:hover{
    transform: none;
}
.q-list{ /* Probably OVERLAPS, this is the page view list of the settings like in general etc.*/
    padding-bottom: 10px;
}
input[type=checkbox]{
    background-color: var(--mainSecondary);
    border: 2px solid;
    border-color: var(--borderInset);
    cursor: default;
}
input[type=checkbox]::before{
    background-color: var(--mainPrimary);
    border-radius: 0px;
    border: 2px solid;
    border-color: var(--borderOutset);
    top: -3px;
    left: -3px;
}
input[type=checkbox][switch]:checked::before{
    left: 11px;
}
input[type=checkbox][switch]:checked{
    background-color: var(--mainHighlight);
}
.q-field__control, .qb-item-text, .title-text{ /* Many different colored texts */
    color: var(--mainHighlight)
}
/* -------------------------------------------------------- */
/* Y. ALBUM / PLAYLIST
/* -------------------------------------------------------- */
.album-details{ /* The window at the top of an album or playlist containing all the info and play, shuffle buttons */
    background-color: var(--mainPrimary);
    padding: 10px;
}
.album-actions{ /* The window containing album-action-left and right, it is the window with Play, Shuffle, etc. */
    padding: 2px;
}
.album-actions-left{ /* Window containing Play, Shuffle buttons (left side)*/
    display: flex;
}
.album-actions[data-v-e77db66d], .album-actions[data-v-3cbd6435]{ /* Window containing Add, other buttons (right side) it is inside album-actions-left so it needs to overwrite what I did in album-actions above. */
    border:none;
}
.tracks-header{  /* Window with search, album order etc. on Album/Playlist view */
    padding: 5px;
}
.c-input[data-v-3c5ffa71]{ /* Search box input at the Album/Playlist view */
    border: none;
}
.ri-list-item{ /* Tracks/Songs on Album/Playlist view */
    margin-top: 5px;
    margin-bottom: 5px;
}
.playlist-suggestion-card{ /* The suggestions at the bottom of Playlist */
    background-color: var(--mainPrimary);
    /* margin-bottom: 50px; */ /* Deleting this because I need to make the gap for ALBUMS also and Favourite Songs view also */
}
.album-view{ /* Page that contains everything about ALBUM/PLAYLIST?/FAVOURITE SONGS */
    padding-bottom: 50px;
}
.qb-item-content{
    color: var(--mainHighlight);
}
amp-eq-bars, .bar{
    color: var(--mainHighlight);
}
.bar{
    background-color: var(--mainHighlight);
}

.mediaitem-card[data-v-b245fbd5]{
    padding: 10px;
}
.mediaitem-artwork-container{ /* Images inside the ALL Playlists, playlists */
    /* This is temporary fix because it cuts of the playlists however currently is good enough*/
    max-width: 100%;
    width: 100%;
}
/* -------------------------------------------------------- */
/* Y. ARTIST
/* -------------------------------------------------------- */
.header-content{ /* The bar that contains Artist name, favorite button etc. */
    background-color: var(--mainPrimary);
    margin: 10px;
    color: var(--mainHighlight);
    margin: 0px;
}
.header-content::before{
    background-color: #2C3725;
}

/* ------------------------------------------------------------------------------ */
/* X. LIBRARY
/* ------------------------------------------------------------------------------ */
.library-toolbar{
    /* margin-bottom: 10px; */
    margin: 10px;
    padding: 10px;
}
/* .rich-container{
    height: 100%;
} */
/* .q-page[sfc-name="LibrarySongs"],
.q-page[sfc-name="LibraryAlbums"],
.q-page[sfc-name="RecentlyAdded"]{
    margin: 10px;
} */
/* -------------------------------------------------------- */
/* Y. SONGS
/* -------------------------------------------------------- */
.library-song-item{
    margin-top:5px;
}

/* -------------------------------------------------------- */
/* Y. ALBUMS, RECENTLY PLAYED
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* Y. ARTISTS
/* -------------------------------------------------------- */